<div class="container">
    <h2>Users List</h2>
    <div *ngIf="isLoading" class="alert alert-info">
      Loading users...
    </div>
    
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th style="width: 200px;">Actions</th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button type="button" class="btn btn-sm btn-primary me-2"
                    (click)="editUser(user)">
              Edit
            </button>
    
            <button type="button" class="btn btn-sm btn-danger"
                    (click)="deleteUser(user.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>    
</div>

<!-- add user button -->
<button type="button" class="btn btn-primary mb-3" (click)="addNewUser()">
  Add User
</button>


<!-- Save user form  -->
<form *ngIf="formUser" #userForm="ngForm" (ngSubmit)="saveUser(userForm)">

  <!-- name -->
  <input
    type="text"
    name="name"
    [(ngModel)]="formUser.name"
    required
    #name="ngModel"
    class="form-control"
    placeholder="Name"
  />

  <div class="text-danger" *ngIf="name.invalid && name.touched">
    Name is required
  </div>
  

  <!-- <div class="error" *ngIf="validationErrors?.Name">
    {{ validationErrors.Name[0] }}
  </div> -->

  <!-- email -->
  <input
    type="email"
    name="email"
    [(ngModel)]="formUser.email"
    required
    email
    #email="ngModel"
    class="form-control"
    placeholder="Email"
  />

  <div class="text-danger" *ngIf="email.invalid && email.touched">
    <div *ngIf="email.errors?.['required']">
      Email is required
    </div>
    <div *ngIf="email.errors?.['email']">
      Invalid email format
    </div>
  </div>
  
  <!-- <div class="error" *ngIf="validationErrors?.Email">
    {{ validationErrors.Email[0] }}
  </div> -->

  <div *ngIf="apiError" class="alert alert-danger">
    {{ apiError }}
  </div>
  
  <button class="btn ms-3"
          [ngClass]="isEditMode ? 'btn-success' : 'btn-primary'"
          [disabled]="userForm.invalid || isSaving">
    {{isSaving
        ? 'Saving...'
        : ( isEditMode ? 'Update User' : 'Add User' )
    }}
  </button>

  <div *ngIf="apiError" class="alert alert-danger">
    {{ apiError }}
  </div>
  
  <button *ngIf="formUser"
          type="button"
          class="btn btn-secondary ms-2"
          (click)="cancel()">
    Cancel
  </button>

</form>

