<div class="container">
    <h2>Users List</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th style="width: 200px;">Actions</th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button class="btn btn-sm btn-primary me-2"
                    (click)="editUser(user)">
              Edit
            </button>
    
            <button class="btn btn-sm btn-danger"
                    (click)="deleteUser(user.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>    
</div>

<!-- add user button -->
<button class="btn btn-primary mb-3" (click)="addNewUser()">
  Add User
</button>


<!-- Save user form  -->
<form *ngIf="selectedUser" #userForm="ngForm" (ngSubmit)="saveUser(userForm)">

  <!-- name -->
  <input
    type="text"
    name="name"
    [(ngModel)]="selectedUser.name"
    required
    #name="ngModel"
    class="form-control"
    placeholder="Name"
  />

  <div class="text-danger" *ngIf="name.invalid && name.touched">
    Name is required
  </div>
  

  <!-- <div class="error" *ngIf="validationErrors?.Name">
    {{ validationErrors.Name[0] }}
  </div> -->

  <!-- email -->
  <input
    type="email"
    name="email"
    [(ngModel)]="selectedUser.email"
    required
    email
    #email="ngModel"
    class="form-control"
    placeholder="Email"
  />

  <div class="text-danger" *ngIf="email.invalid && email.touched">
    <div *ngIf="email.errors?.['required']">
      Email is required
    </div>
    <div *ngIf="email.errors?.['email']">
      Invalid email format
    </div>
  </div>
  
  <!-- <div class="error" *ngIf="validationErrors?.Email">
    {{ validationErrors.Email[0] }}
  </div> -->


  <button class="btn ms-3"
          [ngClass]="selectedUser ? 'btn-success' : 'btn-primary'"
          [disabled]="userForm.invalid">
    {{ selectedUser ? 'Update User' : 'Add User' }}
  </button>

  <button *ngIf="selectedUser"
          type="button"
          class="btn btn-secondary ms-2"
          (click)="cancelEdit(userForm)">
    Cancel
  </button>

</form>

