<div class="container">
    <h2>Users List</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let user of users">
        {{ user.id }} - {{ user.name }} ({{ user.email }})
        <button (click)="editUser(user)">Edit</button>
        <button (click)="deleteUser(user.id)">Delete</button>
      </li>
    </ul>
</div>

<!-- add user form  -->
<div class="container mt-5">
  <h3>Add User</h3>

  <input
    type="text"
    placeholder="Name"
    [(ngModel)]="newUser.name"
  />

  <input
    type="email"
    placeholder="Email"
    [(ngModel)]="newUser.email"
  />

  <button (click)="addUser()">Add User</button>

  <hr />

</div>

<!-- edit form -->
<div *ngIf="selectedUser">
  <h3>Edit User</h3>

  <input
    type="text"
    [(ngModel)]="selectedUser.name"
    placeholder="Name"
  />

  <input
    type="email"
    [(ngModel)]="selectedUser.email"
    placeholder="Email"
  />

  <button (click)="updateUser()">Save</button>
  <button (click)="selectedUser = null">Cancel</button>
</div>
